body{
    margin: 0;
}
.top_nav{
    background: #00000059;
    opacity: 0.9;
    display: flex;
    justify-content: space-between;
    width: inherit;
    flex-direction: row;
    color: #FFF;
    padding: 1em;
}
.header_background_mobile{
    width: 100%;
    display: none;
}
.header_background_tablet{
    display: none;
    width: 100%;
}
.header_h2{
    color: white;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}
.download_button{
    border: 3px solid #FFFFFF;
    color: white;
    box-sizing: border-box;
    border-radius: 29px;
    height: 55px;
    background: none;
    width: 90%;
    font-size: 24px;
}

.platforms{
    display: flex;
    justify-content: space-between;
    width: 60%;
    margin: 0 auto;
    margin-top: 40px;
}
.platforms img:nth-child(1){
    width: 47px;
    height: 56px;
}
.platforms img:nth-child(2){
    width: 50px;
    height: 55px;
    align-self: center;
}
.platforms img:nth-child(3){
    width: 44px;
    height: 44px;
    align-self: center;
}
.download_descr{
    color: white;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    width: 70%;
    margin: 0 auto;
    margin-top: 20px;
    padding-bottom: 30px;
}
.subscribtion_plan{
    display: grid;
    grid: 1fr 1fr 1fr 1fr/ 1fr 1fr 1fr 1fr;
    padding-top: 100px;
    padding-bottom: 100px;
    background: #F2F2F2;
    clip-path: polygon(0 5%, 100% 0, 100% 100%, 0% 100%);

}
.subscribtion_plan div{
    border: 1px solid #E5E5E5;
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
}
.subscribtion_block{
    justify-content: space-around !important;
    align-items: center;
}
.subscribtion_block:nth-child(1){
    background: #F2F2F2;;
}
.subscribtion_block:nth-child(2){
    display: block;
    background: #283645;
    color: white;
}
.subscribtion_block:nth-child(2) p:nth-child(1){
    font-weight: bold;
}
.subscribtion_block:nth-child(3){
    display: block;
    background: #283645;
    color: white;
}
.subscribtion_block:nth-child(3) p:nth-child(1){
    font-weight: bold;
}
.subscribtion_block:nth-child(4){
    display: block;
    background: #283645;
    color: white;
}
.subscribtion_block:nth-child(4) p:nth-child(1){
    font-weight: bold;
}
.subscribtion_block:first-child{
    border: 0px;
}
.subscribtion_block p{
    font-family: 'Open Sans';
    text-align: center;
}

.subscribtion_plan img{
    width: 27px;
    height: 27px;
}
.mobile_visible{
    display: none;
}
/*Код Андрія*/
.main_title{
    padding-left: 10%;
    padding-right: 10%;
    text-align: center;
    font-family: 'Open Sans';
    font-size: 24px;
    line-height: 120%;
    color:  #283645;

}
.main_title2{
    padding-left: 20%;
    padding-right: 20%;
    text-align: center;
    font-family: 'Open Sans';
    font-size: 24px;
    line-height: 120%;
    color:  #283645;

}
.main_box_zagal1{
    display: grid;
    grid: repeat(4, 180px) / 1fr;
    background: #F2F2F2;
    clip-path: polygon(0 5%, 100% 0, 100% 100%, 0% 100%);
    padding-top: 60px;
}

.main_box_title{
    text-align: center;
    font-family: 'Open Sans';
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
    margin: 0;
}
.main_box_subtitle{
    text-align: center;
    font-family: 'Open Sans';
    font-size: 14px;
    line-height: 24px;
    color: #283645;
    padding-top: 20px;
}
.main_box_img{
    width: 157px;
    height: 320px;
    margin: 0 auto;
    margin-bottom: -40px;
}
.main_box_zagal2{
    display: grid;

    background: white;
    clip-path: polygon(0 0, 100% 0, 100% 95%, 0% 100%);
    padding-bottom: 50px;
    background: white;
}
.main_box_zagal2_title{
    text-align: center;
    font-family: 'Open Sans';
    margin-bottom: 0;
    font-size: 20px;
    line-height: 30px;
    margin-top: 40px;
}
.main_box_zagal2_subtitle{
    text-align: center;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 30px;
    color: #283645;
}
.main_box_zagal2_mobile_hidden{
    text-align: center;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    margin: 0;
    line-height: 30px;
    color: #283645;
}
.footer_title{
    text-align: center;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 120%;
    color: #283645;
}
.footer_box1_zagal{
    display: grid;
    grid: 1fr 1fr 1fr / 1fr;
}
.footer_box1{
    margin-top: 20px;
}
.footer_box2{
    margin-top: 30px;
}
.footer_box3{
    margin-top: 30px;
}
.footer_box1_title{
    text-align: center;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    color: #283645;
    margin: 0;
}
.footer_box1_subtitle{
    text-align: center;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 33px;
    color: #D22856;
    margin: 0;
}
.footer_box2_title{
    text-align: center;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    color: #283645;
    margin: 0;
}
.footer_box2_subtitle{
    text-align: center;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 33px;
    color: #D22856;
    margin: 0;
}
.footer_box3_title{
    text-align: center;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    color: #283645;
    margin: 0;
}
.footer_box3_subtitle{
    text-align: center;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 33px;
    color: #D22856;
    margin: 0;
}
.map{
    margin-top: 40px;
    position: relative;
    width: 100%;
}
.footer_box2_zagal{
    width: 60%;
    margin: 0 auto;
    display: grid;
    grid:1fr 1fr 1fr / 1fr;
}
.footer_img_pink{
    margin: 0 auto;
    margin-top: 40px;
    width: 145px;
    height: 40px;
}
.footer_img_pink2{
    display: none;
}
.footer_3_img{
    display: flex;
    margin-top: 20px;
    justify-content: center;
}
.footer_img_facebook{
    margin-left: 10px;
}
.footer_img_play{
    margin-left: 10px;
}
.footer_develop_with{
    display: flex;
    justify-content: center;
}
.develop{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #283645;
}
.shkm{
    width: 34px;
    height: 32px;
    margin-left: 10px;
    margin-top: 10px;
}
.effect_block{
    background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 50%, rgba(222,222,222,1) 50%);
    display: flex;
    margin-top: 60px;
}
.effect_block_img{
    width: 50%;
    display: flex;
    justify-content: center;
}
.effect_block_text{
    width: 50%;
}
.effect_block_text h2{
    font-family: 'Open Sans';
    font-size: 30px;
    width: 225px;
}
.effect_block_text p{
    font-family: 'Open Sans';
    font-size: 18px;
    width: 310px;
}
.effect_block_text h4{
    font-family: 'Open Sans';
    font-size: 14px;
    color: #D22856;
}
.header_logo_mobile{
    display: none;
}
.header_logo_tablet{
    display: none;
}
.header_logo_desktop{
    display: none;
}
.header_background_desktop{
    display: none;
    width: 100%;
}
.destopvisible{
    display: none;
}
* {

    box-sizing: border-box;
  }
  
/*Код Андрія*/
@media screen and (max-width:720px){
    .header_logo_mobile{
        display: block;
    }
    .subscribtion_block{
        display: none !important;
    }
    .subscribtion_block:nth-child(3){
        display: flex !important;
        flex-direction: column;
    }
    .subscribtion_block:nth-child(3) p:nth-child(2){
        padding-bottom: 10px;
        margin-top: 0;
    }
    .subscribtion_block:nth-child(7){
        display: flex !important;
    }
    .subscribtion_block:nth-child(11){
        display: flex !important;
    }
    .subscribtion_block:nth-child(15){
        display: flex !important;
    }
    .subscribtion_plan{
        grid: 1fr 1fr 1fr 1fr/ 1fr;
    }
    .mobile_visible{
        display: block;
    }
    .main_box_zagal2_mobile_hidden{
        display: none;
    }
    .header_background_mobile{
        display: block;
    }
    .subscribtion_plan{
        grid: 1fr 1fr 1fr 1fr/ 1fr;
    }
    .mobile_visible{
        display: block;
    }
    .download_button{
        margin-top: 105%;
    }
    .header_h2{
        margin-top: -110%;
    }
    .download_background{
        background: #1D2631;
    }
    .effect_block{
        display: none;
    }
    .container{
        width: 320px;
        margin: 0 auto;
    }
    .header_h2{
        font-size: 16px;
    }

}

@media (min-width:720px) and (max-width:1280px){
    .header_logo_tablet{
        display: block;
    }
    .main_box_zagal1{
        grid: 1fr 1fr 1fr / 1fr 1fr;
    }
    .main_box_zagal1 img{
        grid-row: 1/4;
        grid-column: 1/2;
        zoom: 2;
    }
    .main_box_zagal2 p:nth-child(3){
        grid-row: 1/2;
        font-size: 20px;
    }
    .footer_box2_zagal{
        width: 100%;
        margin: 0 auto;
        margin-bottom: 30px;
        display: grid;
        grid:1fr / 1fr 1fr 1fr;
    }
    .footer_img_pink{
        margin: 0 auto;
        margin-top: 20px;
        width: 145px;
        height: 40px;
    }
    .footer_img_pink2{
        display: none;
    }
    .footer_3_img{
        display: flex;
        margin-top: 15px;
        justify-content: center;
    }
    .footer_develop_with{
        display: flex;
        justify-content: center;
        margin-top: 20px;
    }
    .header_background_tablet{
        display: block;
    }
    .download_block{
        margin-top: -70%;
        width: 45%;
        margin-left: 20px;
        margin-bottom: 200px;
    }
    .download_block h2{
        font-size: 40px;
    }
    .main_title_block h2{
        font-size: 40px;
        color: #283645;
    }
    .main_box_zagal1 *{
        text-align: start;
    }
    .main_box_zagal1 p{
        margin-top: 0;
    }
    .main_box_zagal2{
        background: #DEDEDE;
    }
    .main_box_zagal2_subtitle{
        margin-top: 100px;
    }
    .main_box_zagal2{
        margin-bottom: -30px;
        padding-bottom: 100px;
    }
    .footer_box1_zagal{
        grid: 1fr / 1fr 1fr ;
    }
    .footer_box3{
        grid-column: 1/3;
    }
    .container{
        width: 660px;
        margin: 0 auto;
    }
    .subscribtion_plan{
        padding: 2 0px;
    }
}
@media (min-width:1280px){
    .header_logo_desktop{
        display: block;
    }
    .footer_box2_zagal{
        width: 95%;
        margin: 0 auto;
        margin-bottom: 30px;
        display: grid;
        grid:1fr / 1fr 1fr 1fr;
    }
    .footer_img_pink{
        margin: 0 auto;
        margin-top: 20px;
        width: 145px;
        height: 40px;
        display: none;
    }
    .footer_img_pink2{
        display: block;
        margin: 0 auto;
        margin-top: 20px;
        width: 145px;
        height: 40px;
    }
    .footer_3_img{
        display: flex;
        margin-top: 15px;
        justify-content: center;
    }
    .footer_develop_with{
        display: flex;
        justify-content: center;
        margin-top: 20px;
    }
    .header_background_desktop{
        display: block;
    }
    .container{
        width: 1200px;
        margin: 0 auto;
    }
    .download_block{
        margin-top: -50%;
        width: 30%;
        margin-left: 15%;
        margin-bottom: 200px;
    }
    .download_block h2{
        font-size: 40px;
    }
    .header_background_desktop{
        margin-top: -80px;
    }
    .main_title{
        font-size: 50px;
    }
    .main_title2{
        font-size: 50px;
    }
    .effect_block{
        background: #F2F2F2;
    }
    .effect_block{
        margin-top: 0px;
    }
    .main_box_zagal1{
        grid: 1fr 1fr/ repeat(3, 1fr);
    }
    .destopvisible{
        display: block;
        margin: 0 auto;
    }
    .main_box_zagal1 img{
        width: 186px;
        height: 382px;
    }
    .bwphotodesktop{
        order: -999;
    }
    .wbphotodesktop{
        order: -998;
    }
    .main_box_img{
        order: -997;
    }
    .main_box_zagal1_block{
        padding-top: 50px;
        
        background: #F2F2F2;
    }
    .main_box_zagal1_block h3{
        font-size: 30px;
    }
    .main_box_zagal1_block p{
        font-size: 18px;
    }
    .main_box_zagal1 img{
        margin-bottom: -40px;
    }
    .effect_block{
        padding-bottom: 100px;
    }
    .subscribtion_plan{
        padding: 130px;
    }
    .main_box_zagal2_img{
        display: block;
    }
    .main_box_zagal2_img{
        order: -999;
        margin: 0 auto;
        margin-top: 60px;
    }
    .footer_box1_zagal{
        grid: 1fr/ 1fr 1fr 1fr;
    }
}
